.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.box {
  width: 130px;
  height: 130px;
  color: black;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
}

.box1 {
  background-color: red;
}
.box2 {
  background-color: rgba(255, 0, 0, 0.655);
}
.box3 {
  background-color: rgba(255, 0, 0, 0.429);
}
.box4 {
  background-color: rgba(255, 0, 0, 0.126);
}

.box5 {
  background-color: #ffd500;
}
.box6 {
  background-color: #ffd500be;
}
.box7 {
  background-color: #ffd50078;
}
.box8 {
  background-color: #ffd50037;
}

.box9 {
  background-color: #51ff00;
}
.box10 {
  background-color: #51ff00b1;
}
.box11 {
  background-color: #51ff006e;
}
.box12 {
  background-color: #51ff002a;
}

.box13 {
  background-color: #9300a0;
}
.box14 {
  background-color: #9300a0b3;
}
.box15 {
  background-color: #9300a06d;
}
.box16 {
  background-color: #9300a034;
}

/* .box13 {
  background-color: purple;
}
.box14 {
  background-color: rgba(128, 0, 128, 0.71);
}
.box15 {
  background-color: rgba(128, 0, 128, 0.425);
}
.box16 {
  background-color: rgba(128, 0, 128, 0.185);
} */
